
$bg: cream;
$white: #fff;
$black: #000;
$text: #555;
$bt-c: lighten(crimson, 20);
$bt-b: lighten(black, 20);

// media sizes
$desktop: 1124px;
$tablet: 764px;
$mobile: 424px;

// font weight
$fw: 600;
$fw-l: 800;

// font size
$fs-b: 2rem;
$fs-m: 1.5rem;
$fs-s: .8rem;